
    <section class="container">
        <div class="row">
            <div class="col-md-6">
                <div class=" row m-2">
                    <label for="temp-account" class="col-sm-2 col-md-6 col-form-label text-dark">Ma so tiet kiem</label>
                    <div class="col-sm-10 col-md-6">
                      <input type="text" class="form-control m-1" id="temp-bankbookid" value="{{bookNo}}" disabled>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class=" row m-2 ">
                    <label for="temp-account" class="col-sm-2 col-md-6 col-form-label text-dark">So tien giao dich</label>
                    <div class="col-sm-10 col-md-6">
                      <input type="number" class="form-control m-1" id="tenp-amount" value="{{amount}}" >
                </div>
            </div>
            
        </div>
        <div class="row container m-2">
            <div class=" container input-group mb-3 col-md-8">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Loai tiet kiem</label>
                </div>
            <select class="custom-select" id="temp-booktype">
                <option selected>Choose...</option>
                <option value="demand">khong ky han</option>
                <option value="3 thang">3 thang</option>
                <option value="6 thang">6 thang</option>
            </select>
            </div>
        </div>
        <div class="container">
            <button onclick="createNotice()" class="btn btn-primary btn-block m-2">Tao phieu yeu cau</button>
        </div>
    </section>
    <section class="container">
        <div class="container bg-secondary-2" id="request-confirm">
            <h5 class="text-center text-white">So tiet kiem</h5>
            {{#with customer}}
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class=" row">
                            <label for="bankbookid" class="col-sm-4 col-md-6 col-form-label text-dark">Ma so</label>
                            <div class="col-sm-8 col-md-6">
                              <span type="text" class="form-control" id="bankbokid" readonly></span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col">
                        <div class="row">
                            <label for="booktype" class="col-sm-4 col-md-6 col-form-label text-dark">Loai tiet kiem</label>
                            <div class="col-sm-8 col-md-6">
                              <span type="text"  class="form-control " id="booktype"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class=" row">
                            <label for="customername" class="col-sm-2 col-md-6 col-form-label text-dark">Khach hang</label>
                            <div class="col-sm-10 col-md-6">
                              <input type="text" readonly class="form-control" id="customername" value="{{name}}">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class=" row">
                            <label for="cmnd" class="col-sm-2 col-md-6 col-form-label text-dark">CMND</label>
                            <div class="col-sm-10 col-md-6">
                              <input type="text" readonly class="form-control" id="cmnd" value="{{cmnd}}" name="cmnd">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class=" row">
                            <label for="address" class="col-sm-2 col-md-3 col-form-label text-dark">Dia chi</label>
                            <div class="col-sm-10 col-md-9">
                              <input type="text" readonly class="form-control" id="address" value="{{address}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class=" row">
                            <label for="current-date" class="col-sm-2 col-md-6 col-form-label text-dark">Ngay mo so</label>
                            <div class="col-sm-10 col-md-6">
                                <span class="form-control" readonly id="current-date"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class=" row">
                            <label for="amount" class="col-sm-2 col-md-6 col-form-label text-dark">So tien goi</label>
                            <div class="col-sm-10 col-md-6">
                              <span readonly class="form-control" id="amount"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {{/with}}
        </div>
    </section>
    <section class="container">
        <p class="text-center" id="rate-info">lai suat <strong>0.55%.</strong> Den han ngay xxx. Du thu xxx</p>
        <div class="row m-2">
            <button type="button" name="cancel" id="cancel" class="btn-warning btn-block col-md-3 col-sm-4">Cancel</button>
            <div class="col-md-6 col-sm-4"></div>
            <button type="button" name="create" id="create-book" class="btn-primary btn-block col-md-3 col-sm-4">Confirm</button>
        </div>
    </section>
    